{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}

        <div class="col-lg-4 mb-4">
            <div class="custom-media d-block">
                <div class="img mb-4">
                    <a href="single.html"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid"></a>
                </div>
                <div class="text">
                    <span class="meta">May 20, 2020</span>
                    <h3 class="mb-4"><a href="#">{{ post.title }}</a></h3>
                    <p>
                        {{ post.lead }}
                    </p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}